.wrapper_label_size {
	border: 5px solid black;
	padding: 5px 20px;
	margin-right: 20px;
	.label {
		cursor: pointer;
		display: flex;
		align-items: center;
		.checkbox {
			display: none;
		}
		.fake {
			display: block;
			width: 30px;
			height: 30px;
			position: relative;
			border: 4px solid black;
			&::before {
				content: '';
				position: absolute;
				display: block;
				width: 17px;
				height: 17px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: black;
				opacity: 0;
			}
		}
		.checkbox:checked + .fake::before {
			opacity: 1;
		}
		.number_size {
			margin-left: 15px;
			font-size: 20px;
		}
	}
}
