.slider_bike {
    width:90%;
    background-color: #E5E5E5;
    height: 770px;
    display: flex;
    align-items: center;
    padding: 200px 70px 70px 70px;
    .slider {
        width: 100%;
    }
}