.form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: center;
	.form_input_btn {
		margin-top: 30px;
		width: 50%;
	}
	.form_input_login {
		margin-top: 20px;
		font-size: 20px;
	}
}
