.inner_buy_bike {
	padding-top: 179px;
	padding-left: 71px;
	.nameBike_price_color {
		h2 {
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 10px;
			line-height: 46px;
		}
		.price_for_bike {
			font-size: 24px;
			font-weight: 450px;
			line-height: 30px;
			display: inline-block;
			margin-bottom: 38px;
		}
	}
}
