.wrapper_header {
    background: url(../../../../../images/cotegorysPage_images/headerImages/headerImg.jpg);
    color:white;
    padding-top: 35px;
    padding-bottom: 219px;
    .wrapper_content_header {
        margin-top: 191px;
        padding:0px 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content_header {
            margin-left: 31px;
            h1 {
                font-size: 64px;
                margin-bottom: 40px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}