@import '../../../../styles/styles.scss';

.wrapper_category {
	.wrapper_type_bike {
		display: flex;
		justify-content: space-between;
		border-bottom: 0.5px solid gray;
		display: flex;
		.carousel_wrapper {
			padding: 30px 50px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.content_type_bike {
			background-color: #f2f2f2;
			width: 500px;
			padding: 64px 70px 70px 70px;
			h2 {
				@include styled_all_h2;
				margin-bottom: 20px;
			}
			span {
				font-size: 24px;
				font-weight: 450;
				margin-bottom: 40px;
			}
			p {
				@include styled_all_p;
				margin-top: 15px;
			}
			button {
				margin-top: 50px;
			}
		}
	}
}
