.wrapper_features_streetster {
	background-color: white;
	background: url(../../../../../../images/mainPage_images/contentImages/Vector.jpg);
	text-align: center;
	padding: 83px 140px 200px 140px;
	h2 {
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 63px;
	}
	.features {
		display: flex;
		justify-content: space-between;
		.feature {
			width: 331px;
			height: 300px;
			img {
				position: relative;
				top: 45px;
			}
			.describe_feature {
				background-color: #f2f2f2;
				padding: 57px 18px 24px 18px;
				h3 {
					font-size: 24px;
					font-weight: 700;
					margin-bottom: 10px;
				}
				p {
					text-align: center;
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
	}
}
