.big_button {
	width: 100%;
	border: 3px solid black;
	background-color: white;
	color: black;
	font-size: 20px;
	font-weight: 700;
	height: 70px;
}

.big_button:hover {
	background-color: black;
	color: white;
}
